#root {
  font-family: "Poppins", sans-serif;
}

header {
  margin: 40px;
}

.banish-blue-bg {
  background-color: #66a8ba;
}

.button {
  margin: 5px;
}
.login-div {
  text-align: center;
  width: 20%;
  margin: 0 auto;
}

.brad-item-div {
  width: 30%;
  margin: 0 auto;
}

.scoreboard-div {
  width: 70%;
  margin: 0 auto;
}

.username-div {
  text-align: center;
  width: 40%;
  margin: 0 auto;
}
