#root {
  font-family: "Poppins", sans-serif;
}

header {
  margin: 40px;
}

.login-div {
  text-align: center;
  width: 20%;
  margin: 0 auto;
}

.button {
  margin: 5px;
}
.brad-item-div {
  width: 30%;
  margin: 0 auto;
}
